/* MORRIS */
.morris-hover{position:absolute;z-index:1000}.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255,255,255,0.8);border:solid 2px rgba(230,230,230,0.8);font-family:sans-serif;font-size:12px;text-align:center}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0}

html, body
{
  margin: 0;
  padding: 0;
}
body
{
  background-color: #1e2c36;
  color: #8b8b8b;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.2em;
  height: 100%;

}
body {
  margin: 0 auto;
}
header
{
  position: fixed;
  top: 0;
  padding: 1em 2em;
  z-index: 20;
  background-color: #2e3c46;
  width: 100%;
}
#title-bar .title
{
  font-size: 1.5em;
  line-height: 1.7em;
  padding: 0.2em 0.5em;
  width: 5em;
  position: relative;
}
.messages
{
  position: absolute;
  top: 0.5em;
  right: 5em;
  font-family: 'Open Sans', sans-serif;
	font-weight:200;
	font-style:normal;
  transition: all 1s ease;
}
#connecting
{
  color: #4e5c66;
}
#message
{
  color: #fe5c66;
}
#connecting.show, #message.show
{
  display: block;
}
#connecting.hide, #message.hide
{
  display: none;
}

.morrisonLogo{
  display: block;
  max-width:150px;
}

footer
{
  background-color: #2e3c46;
  width: 100%;
  padding: 0.2em;
}
footer .title
{
  font-size: 1em;
  line-height: 1.1em;
  padding: 1em 2em;
}

#board
{
  margin-top: 5em; /* to show below header */
  padding: 1em 0.5em;
  margin-right: auto;
  margin-left: auto;
  width: auto;
  overflow: hidden;
  vertical-align: top;
  text-align: center;
}
.wcontainer
{
  border: 1px solid #8b8b8b;
  min-height: 17.2em;
  margin: 0; /*0.2em;*/
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.wcontainer .content, .wcontainer .title
{
  width: 100%;
}
.wcontainer .title
{
  text-align: center;
  height: 1.5em;
  width: 90%;
  margin:auto;
  font-size: 1em;
  line-height: 1.1em;
  padding: 0.5em 0.1em 0.1em;
  border-bottom: 1px solid #2e3c46;
}
.wcontainer .content
{
  height: 14em;
}
.wcontainer .comment.pie,.wcontainer .comment.donut
{
  padding: 0.1em 0.3em;
  font-size: 0.7em;
  line-height: 1em;
  position: absolute;
  top: 4em;
  text-align: left;
}
.wcontainer .comment.bar,.wcontainer .comment.area
{
  padding: 0.1em 0.3em;
  font-size: 0.7em;
  line-height: 1em;
}
.wcontainer .comment.bar div,.wcontainer .comment.area div
{
  float:left;
  margin-right: 1em;
}

.col1
{
  width: 320px;
}
.col2
{
  width: 642px;
}

.morrison_text
{

}

@media (min-width: 800px) and (max-width: 1000px)
{
  #board
  {
    width: 800px !important;
  }
  .col1
  {
    width: 398px !important;
  }
  .col2
  {
    width: 798px !important;
  }
}
@media (min-width: 600px) and (max-width: 800px)
{
  #board
  {
    width: 600px !important;
  }
  .col1
  {
    width: 298px !important;
  }
  .col2
  {
    width: 598px !important;
  }

}
@media (min-width: 400px) and (max-width: 600px)
{
  header
  {
    position: relative;
  }
  #board
  {
    margin-top: 0.3em;
    width: 400px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .col1
  {
    width: 198px !important;
  }
  .col2
  {
    width: 398px !important;
  }

}

@media (max-width: 400px)
{
  header
  {
    position: relative;
  }
  #board
  {
    margin-top: 0.3em;
    width: 400px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .col1, .col2
  {
    width: 380px !important;
  }
}
